<a href="https://colab.research.google.com/github/Kimtae00/mulcamp34/blob/lecture/%EA%B8%B0%EC%B4%88%EB%AC%B8%EB%B2%95_231227_%EC%98%A4%ED%9B%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 4.변수와 자료형

## 변수 (p. 42)
### 변수란?
#### "변하는 수"

In [5]:
test = 1 # test라는 변수에 1을 저장
print(test)

1

In [6]:
test = 2 # 1이 저장되어 있는 test 변수의 값을 '2'로 변경
print(test)

2

## 변수명 짓기 규칙
- Snake, Camel

In [8]:
# Snake
num_a = 100
num_b = 110

# Camel
myStudent = "even"
mySchool = "KAU"

# 주의해야하는 사항
# 숫자로 시작하면 안됨
# 3star = "이장군"

## 예약어는 변수명으로 이용할 수 없음
- (p. 45)
- print, none, not, etc

## 변수 <-> 상수
- 한번 지정 후, 변하지 않는 고정 값

In [ ]:
# 상수
pi = 3.14

In [15]:
# 실제 변수를 만들어보기
num1 = int(input("숫자를 입력해주세요! "))
num2 = int(input("숫자를 입력해주세요! "))

print(num1, num2)

숫자를 입력해주세요! 20
숫자를 입력해주세요! 100
20 100

In [13]:
print(num1+num2)

110

In [14]:
type(num1)

int

## 문자열
- ""(큰 따옴표) 또는 ''(작은 따옴표) 지정
+ 작은 따옴표 선호

In [17]:
string3 = 'This is a "double" quotation'
print(string3)

This is a "double" quotation

## 리스트 (List)
- 가장 중요한 자료형
- 다른 프로그래밍 언어에서는 배열(Array)
- 예시
  + 1반의 과목별 수학 점수
- 다중의 데이터를 묶는다

In [18]:
# 1번 학생의 국어, 영어, 수학, 과학
student1 = [90, 95, 85, 80]
student1

[90, 95, 85, 80]

In [19]:
print(type(student1))

<class 'list'>

## 인덱싱
- 리스트에서 특정 데이터에 접근
- 0부터 시작함.
- Ex) student = [90, 85, 88, 82]
      student[0] = 90

In [20]:
student1

[90, 95, 85, 80]

In [25]:
student1[0:4:2]

[90, 85]

In [79]:
greeting = 'Hello, Python'
# hello만 추출
greeting[0:5]

'Hello'

### 리스트 수정, 삭제

In [27]:
# 새로운 데이터 할당, 0번째 인덱스
student1[0] = 100
# 변경 후 값 출력
student1

[100, 95, 85, 80]

In [52]:
myFriends = ['sam', 'john', 'siera', 'molta']
myFriends

['sam', 'john', 'siera', 'molta']

In [53]:
# List에 특정 원소를 추가하기
myFriends.append('teddy')
myFriends

['sam', 'john', 'siera', 'molta', 'teddy']

In [54]:
# List에서 특정 원소를 삭제하기
myFriends.remove('siera')
myFriends

['sam', 'john', 'molta', 'teddy']

In [55]:
# append 메소드를 사용하지 않고 List의 덧셈으로 표현 가능함.
temp = ['Kim']
myFriends = myFriends + temp
myFriends

['sam', 'john', 'molta', 'teddy', 'Kim']

In [57]:
myNumbers = [1]
myNumbers = myNumbers * 3
myNumbers

[1, 1, 1]

## List는 타입이 달라도 문제가 되지 않는다.

In [58]:
mixed = [0, 2, 3.14, 'python', True, myFriends]
mixed

[0, 2, 3.14, 'python', True, ['sam', 'john', 'molta', 'teddy', 'Kim']]

In [62]:
print(mixed[-1][1][0])

j

## 슬라이싱
- 문자열, 리스트 그 외 파이썬 거의 대부분 자료형 원리 동일 적용

In [76]:
# 예시 데이터
list_data = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(list_data)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [77]:
# 0, 1, 2, 3, 4, 5 데이터만 가져오기
print(list_data[0:6])

[0, 1, 2, 3, 4, 5]

In [85]:
# 짝수 데이터 가져오기
print(list_data[::2])

[0, 2, 4, 6, 8]

In [86]:
greeting = 'Hello, Python'
# hello만 추출
print(greeting[0:5])

Hello

In [83]:
# 4부터 끝까지 가져오기
print(list_data[4:])

[4, 5, 6, 7, 8, 9]

In [84]:
# 슬라이싱을 이용하여 모든 데이터 가져오기
print(list_data[:])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [89]:
# step을 이용하여 홀수만 출력
print(list_data[1::2])

[1, 3, 5, 7, 9]

## 튜플(Tuple)
- 면접 질문 가능성이 높음.
  + list vs tuple
- list와 유사하지만, 차이가 있음

In [92]:
tuple1 = (1, 2, 3, 4)
print(tuple1)
# <class 'tuple'>
print(type(tuple1))

(1, 2, 3, 4)
<class 'tuple'>

### 유사점
- 인덱싱과 슬라이싱이 리스트, 문자열과 동일

In [98]:
tuple_data = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
print(tuple_data[::2])
print(tuple_data[0:-1])
print(tuple_data[0:-1:2])
print(tuple_data[1::2])

(0, 2, 4, 6, 8)
(0, 1, 2, 3, 4, 5, 6, 7, 8)
(0, 2, 4, 6, 8)
(1, 3, 5, 7, 9)

### 차이점
- tuple은 원소의 값을 수정, 삭제가 불가능함.
  + del temp[2]: 2번째 인덱스 위치의 값을 삭제한다.
  + tuple의 경우 append, remove 등 지원 x

In [101]:
l_data = [0, 1, 2, 3]
t_data = (0, 1, 2, 3)

l_data
t_data

(0, 1, 2, 3)

In [114]:
# l_data.append(4) list에 원소 4를 추가
l_data

[0, 1, 2, 3, 4]