<a href="https://colab.research.google.com/github/Kimtae00/mulcamp34/blob/lecture/%EA%B8%B0%EC%B4%88%EB%AC%B8%EB%B2%95_231229_%EC%98%A4%EC%A0%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 딕셔너리 dict = 이름을 붙여 변수를 저장하는 사전
  - Dictionary : 영어 및 국어 사전
  - 구성  : key - value, keyword(=key), 결괏값(=value)
    + 문자열, 리스트, tuple : 데이터 조회시, 인덱싱 또는 슬라이싱
    + 딕셔너리에서 값을 조회하는 방법은 key 값을 통해서 값을 조회

In [5]:
# 나라-수도 이름
country_capital = {
    "대한민국" : "서울",
    "프랑스" : "파리",
    "벨기에" : "브뤼셀",
    "네덜란드" : "암스테르담",
    "독일" : "베를린"
}

print(country_capital)
print(country_capital['대한민국'])
print(country_capital['네덜란드'])

{'대한민국': '서울', '프랑스': '파리', '벨기에': '브뤼셀', '네덜란드': '암스테르담', '독일': '베를린'}
서울
암스테르담

### 기존의 key에 대한 값 수정하기
  + 딕셔너리[기존 키] = 수정할 값으로 기존 값 수정
### 새로운 key - value 쌍 추가하기
  + 딕셔너리[새 키] = 할당할 값으로 새로운 쌍 추가

In [10]:
country_capital['미국'] = '워싱턴 D.C.'
print(country_capital)

{'대한민국': '서울', '프랑스': '파리', '벨기에': '브뤼셀', '네덜란드': '암스테르담', '독일': '베를린', '미국': '워싱턴 D.C.'}

In [14]:
# key 값은 숫자형태도 가능
fruits = {
    1: '사과',
    2: '바나나',
    3: '망고'
}

print(fruits)
print(fruits[1])

{1: '사과', 2: '바나나', 3: '망고'}
사과

In [17]:
# 딕셔너리 안에 딕셔너리를 넣을 수도 있음
data2 = {'list1' : [1, 2, 3], 'list2' : [4, 5, 6], 1 : '테스트', 2 : 100}
print(data2['list2'])

[4, 5, 6]

## 딕셔너리 사용처
  - 데이터 분석 : 엑셀 테이블

## 딕셔너리 다루기

In [18]:
# 내가 좋아하는 도시이름
country_capital['대한민국'] = '부산'
print(country_capital['대한민국'])

부산

In [20]:
# del
del country_capital['프랑스']
print(country_capital)

{'대한민국': '부산', '벨기에': '브뤼셀', '네덜란드': '암스테르담', '독일': '베를린', '미국': '워싱턴 D.C.'}

## 딕셔너리 메서드

In [22]:
print(type(country_capital))

<class 'dict'>

In [25]:
# .keys()와 .values()로 저장된 키, 값 보기
print(country_capital.keys())
print(country_capital.values())

# key - value의 쌍으로 저장된 값 보기
print(country_capital.items())

dict_keys(['대한민국', '벨기에', '네덜란드', '독일', '미국'])
dict_values(['부산', '브뤼셀', '암스테르담', '베를린', '워싱턴 D.C.'])
dict_items([('대한민국', '부산'), ('벨기에', '브뤼셀'), ('네덜란드', '암스테르담'), ('독일', '베를린'), ('미국', '워싱턴 D.C.')])

In [28]:
new_df = {
    '중국' : '베이징',
    '필리핀' : '마닐라',
    '호주' : '캔버라'
}

country_capital.update(new_df)
country_capital

{'중국': '베이징', '필리핀': '마닐라', '호주': '캔버라'}

In [27]:
# 빈 Dictionary 생성
country_capital.clear()
country_capital

{}

In [29]:
# 딕셔너리에서 키 전체를 리스트 형태로 반환
result = list(country_capital.keys())
result.append('독일')
result

['중국', '필리핀', '호주', '독일']

# if 조건문
  - 만약 조건이 True라면 ~를 해라
  + 참과 거짓을 만드는 것이 포인트

In [31]:
x = int(input('점수를 입력하세요: '))
if x >= 90:
  print('합격')
print('불합격')

점수를 입력하세요: 89
불합격

In [35]:
score = int(input('점수를 입력해주세요: '))

if score >= 90:
  print('A')
elif score >= 80:
  print('B')
elif score >= 70:
  print('C')
elif score >= 60:
  print('D')
else:
  print('F')

점수를 입력해주세요: 45
F

In [41]:
# 중첩 조건문
# if 조건문 내부에 또다른 조건문 생성
x = int(input('점수를 입력하세요: '))

# 100점 맞은 사람이 있으면 '장학금' 출력
if x >= 90:
  if(x == 100):
    print(f'{x}점 축하합니다 ! 장학금입니다.')

  else:
    print(f'{x}점 합격입니다 !')
else:
  print(f'{x}점 불합격입니다.')

점수를 입력하세요: 100
100점 축하합니다 ! 장학금입니다.

# 반복문
  - for-loop, while
    + for-loop 특징 : 반복 범위가 주어짐
  - 반복문의 필요성

In [45]:
# Hello Python 10번 출력

print('Hello Python')
print('Hello Python')
print('Hello Python')
print('Hello Python')
print('Hello Python')
print('Hello Python')
print('Hello Python')
print('Hello Python')
print('Hello Python')
print('Hello Python')

# 만약 100000줄 이라면?... 직접?...

Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python

In [48]:
for i in range(10):
  print(f'{i+1}번째 Hello Python')

1번째 Hello Python
2번째 Hello Python
3번째 Hello Python
4번째 Hello Python
5번째 Hello Python
6번째 Hello Python
7번째 Hello Python
8번째 Hello Python
9번째 Hello Python
10번째 Hello Python

- 반복 범위 지정 시, 시퀀스 자료형도 사용 가능
  + 대표적인 것: 리스트, 문자열, 튜플 etc..

In [49]:
# 리스트
nums = [1, 2, 3, 4, 5]
for num in nums:
  print(num)

1
2
3
4
5

In [50]:
# 문자열
strings = 'Hello'
for text in strings:
  print(text)

H
e
l
l
o

In [51]:
# 튜플
tuples = (1, 2, 3, 4)
for num in tuples:
  print(num)

1
2
3
4

In [58]:
# 딕셔너리
fruits = {
    "사과": "apple",
    "바나나": "banana",
    "망고": "mango"
}

# key 값만 출력
for fruit in fruits:
  print(fruit)

# value 값만 출력
for fruit in fruits:
  print(f'{fruit}의 스펠링은 {fruits[fruit]}')

사과
바나나
망고
사과의 스펠링은 apple
바나나의 스펠링은 banana
망고의 스펠링은 mango