<a href="https://colab.research.google.com/github/Kimtae00/mulcamp34/blob/lecture/%EA%B8%B0%EC%B4%88%EB%AC%B8%EB%B2%95_231229_%EC%98%A4%ED%9B%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 반복문

## for-**loop**

In [2]:
country_capital = {
    '대한민국' : '서울',
    '미국' : '워싱턴 D.C.',
    '독일' : '베를린',
}

print(country_capital)

{'대한민국': '서울', '미국': '워싱턴 D.C.', '독일': '베를린'}

In [4]:
x = '대한민국'

print(f'대한민국의 수도는 서울이다.')
print(f'{x}의 수도는 서울이다.')
print(f'{x}의 수도는 {country_capital[x]}이다.')

대한민국의 수도는 서울이다.
대한민국의 수도는 서울이다.
대한민국의 수도는 서울이다.

In [6]:
# 중첩 for 문
# 반복문 내 또 다른 반복문
x_list = ['x1', 'x2']
y_list = ['y1', 'y2']

for x in x_list:
  for y in y_list:
    print(f'{x} {y}')

x1 y1
x1 y2
x2 y1
x2 y2

In [12]:
# 구구단
num_list = [2, 3, 4, 5, 6, 7, 8, 9]
iterable_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for num in num_list:
  print(f'{num}단 시작 !')
  for iterable in iterable_list:
    print(f'{num} x {iterable} = {num * iterable}')
  print('==========')

2단 시작 !
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
==========
3단 시작 !
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
==========
4단 시작 !
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
==========
5단 시작 !
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
==========
6단 시작 !
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
==========
7단 시작 !
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
==========
8단 시작 !
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
==========
9단 시작 !
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
==========

In [14]:
# range로 구현해보기
for x in range(2, 10):
  print(f'{x}단 시작 !')
  for y in range(1, 10):
    print(f'{x} x {y} = {x * y}')
  print('==========')

2단 시작 !
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
==========
3단 시작 !
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
==========
4단 시작 !
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
==========
5단 시작 !
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
==========
6단 시작 !
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
==========
7단 시작 !
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
==========
8단 시작 !
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
==========
9단 시작 !
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
==========

In [19]:
names = ['a', 'b', 'c']
ages = [10 ,20, 30]

# 1. zip() 사용
for name, age in zip(names, ages):
  print(name, age)

# 2. enumberate() 사용
for idx, name in enumerate(names):
  print(idx, name)

a 10
b 20
c 30
0 a
1 b
2 c

## While 특징
  - for-loop 특징 : 항상 반복문의 범위를 지정한다.
    + 몇번 반복문을 수행할지 숫자로 컨트롤 가능
  - while 특징
    + 조건문이 False가 될 때까지 반복문을 수행
    + 조건문이 True가 되면 반복문은 무한 수행

In [23]:
# 초기값 지정
i = 1
n = 3

# i가 n보다 작거나 같은경우에만 반복문 수행
while i <= n:
  print(f'현재 {i} 번')
  i = i + 1

현재 1 번
현재 2 번
현재 3 번

## for-loop vs while

## break 문
  - 중간에 반복문 강제 종료
    + 특정 시점에 반복문 강제 종료

In [25]:
exit = 1

while True:
  print(f'exit = {exit}')
  if exit == 5:
    break
  exit += 1

# 5가 출력되는 이유
# 로직에서 exit의 값을 더한 후 반복문을 수행하기 때문

exit = 1
exit = 2
exit = 3
exit = 4
exit = 5

In [29]:
for i in range(1, 10):
  print(f'현재 i = {i}')
  if i ==  5: # True인 경우
    print('조건을 만족하여 반복문을 종료합니다.')
    break

현재 i = 1
현재 i = 2
현재 i = 3
현재 i = 4
현재 i = 5
조건을 만족하여 반복문을 종료합니다.

## 문자열과 for-loop

In [33]:
texts = 'Python'
for text in texts:
  print(text)
  # text가 't'가 되면 break 문자의 경우에도 종료 조건 가능
  if text == 't':
    print(f'text가 {text}가 되어 반복문을 종료합니다.')
    break

P
y
t
text가 t가 되어 반복문을 종료합니다.

## 리스트 컴프리헨션
  - for-loop 및 for-loop if 조건문 한줄로 처리

In [34]:
# pythonic한 코드
numbers = [1, 2, 3, 4, 5]
result = [1, 4, 9, 16, 25]

In [36]:
numbers = [1, 2, 3, 4, 5]
result = []

for i in numbers:
  result.append(i * i)

result

[1, 4, 9, 16, 25]

In [38]:
numbers = [1, 2, 3, 4, 5]
result = [i * i for i in numbers]
result

[1, 4, 9, 16, 25]

- 조건문 추가 리스트 컴프리헨션

In [39]:
numbers = [1, 2, 3, 4, 5]
result = []

for i in numbers:
  if i >= 3:
    result.append(i)

result

[3, 4, 5]

In [40]:
numbers = [1, 2, 3, 4, 5]
result = [i * i for i in numbers if i >= 3]
result

[9, 16, 25]

# 파이썬 문서화 (Docstring)
  - 코딩을 한다. 프로그래밍을 한다.
  - 누군가에게 관련 지식을 전달하는 것과 동일
    + 혼자 코딩하고, 혼자만 알 수 있는 언어로 코딩을 했다 ==> 협업 불가능
    + 취업, 퇴사, 이직 ==> 업무 인수인계를 해야 함
    + 코딩한 것에 문서화를 하지 못하면, 업무 인수인계 자체가 불가능

    - 프로젝트 진행
      + 3주 / 4주 ==> 마지막주에는
        - 2~3명, PPT 보고서 작성
        - 남은 인원, Dockstring을 사용해서, 문서화
      + help() 명령어를 사용해서 불러오기 할 수 있음 ( 예, read_csv() 문서처럼 출력이 가능)
  - 질문 내용: swagger 같은 API 명세서가 docstring일까요?
    + 클라이언트 용 명세서(공공기관, 한글 또는 워드 작업)

In [41]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [42]:
import math
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [44]:
def myPower(n):
  '''숫자 n을 입력하면 n의 거듭제곱으로 반환'''
  result = n * n
  return result

print(myPower(4))
# 함수 블럭안에서 주석으로 작성한 부분을 출력해줌.
print(myPower.__doc__)

16
숫자 n을 입력하면 n의 거듭제곱으로 반환

In [45]:
# Ex) print
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [47]:
def read_csv(sep, header):
  '''
  Returns the sume of ~~~ .

    Parameters:
      sep (str) : Character or regex pattern to treaat as the delimiter.
      header (int) : Row number(s) containing column labels

    Returns:
      c (int) : Sum of ~~
  '''

  c = sep + header
  return c

print(read_csv.__doc__)

  Returns the sume of ~~~ .

    Parameters:
      sep (str) : Character or regex pattern to treaat as the delimiter.
      header (int) : Row number(s) containing column labels

    Returns:
      c (int) : Sum of ~~

## 클래스 상속
  - 상속 ? : "이어 받는다"는 의미
    + 즉, 부모 클래스의 속성과 메서드를 이어받는다(= 사용할 수 있다)는 의미
  
  - 동물
    + 동물의 공통적인 특징 : 살아 움직인다.
    - 포유류
      + 네 발이 있다.
      + 새끼를 낳는다.
    - 파충류
      + 알을 낳는다.
  
  - "살아 움직인다"는 공통적인 특징을 코드로 작성하면 효율적이고 유지보수가 수월함.

In [48]:
class Animal:
  # Attribute 정의(= 클래스 변수)
  name = ""

  # 공통함수
  def eat(self):
    print('나는 먹을 수 있음')

  def sleep(self):
    print('나는 잠을 잘 수 있음')

# '개'는 '동물'에 속하므로 상속을 받는다는 것은 자명함
class Dog(Animal):
  # name = "" 이 코드는 Animal 클래스를 상속 받았으므로 작성하지 않아도 됨.

  # 새로운 메서드
  def bark(self):
    print(f'{self.name} 강아지가 짖다')

In [53]:
# Dog 클래스 객체 생성
poppy = Dog()
poppy.name = "뽀삐"

# 상속받은 Animal 클래스의 메서드 사용
poppy.eat()
poppy.sleep()
# Dog 클래스의 메서드 사용
poppy.bark()

# Animal 클래스 객체 생성
tiger = Animal()
tiger.name = "호랑이"
tiger.eat()
tiger.sleep()

#아래 코드를 실행하면 에러가 발생함
# bark() 메서드는 Dog 클래스의 고유한 메서드이기 때문.
# tiger.bark()

나는 먹을 수 있음
나는 잠을 잘 수 있음
뽀삐 강아지가 짖다
나는 먹을 수 있음
나는 잠을 잘 수 있음

## 클래스 Docstring

In [54]:
class Person:
  """
  자기 소개하는 Person 클래스.

  '''
  Attributes
  -----------
  name : str
    사람의 이름을 의미
  age : int
    사람의 나이를 의미
  grade : int
    사람의 현재 학년을 의미

  Methods
  -----------
  info(comment=""):
    사람의 개인정보를 출력

  """

  def __init__(self, name, age, grade):
    """

    """
    self.name = name
    self.age = age
    self.grade = grade

  def info(self, comment = ""):
    """

    """
    print(f'내 이름은 {self.name}. 내 나이는 {self.age}. 현재 학년은 {self.grade}. {comment}')

In [55]:
print(Person.__doc__)

  자기 소개하는 Person 클래스.

  '''
  Attributes
  -----------
  name : str
    사람의 이름을 의미
  age : int
    사람의 나이를 의미
  grade : int
    사람의 현재 학년을 의미

  Methods
  -----------
  info(comment=""):
    사람의 개인정보를 출력

In [56]:
help(Person)

Help on class Person in module __main__:

class Person(builtins.object)
 |  Person(name, age, grade)
 |
 |  자기 소개하는 Person 클래스.
 |
 |  '''
 |  Attributes
 |  -----------
 |  name : str
 |    사람의 이름을 의미
 |  age : int
 |    사람의 나이를 의미
 |  grade : int
 |    사람의 현재 학년을 의미
 |
 |  Methods
 |  -----------
 |  info(comment=""):
 |    사람의 개인정보를 출력
 |
 |  Methods defined here:
 |
 |  __init__(self, name, age, grade)
 |
 |  info(self, comment='')
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

### 알아두면 유용한 Python Docstring Site
  -  https://betterprogramming.pub/3-different-docstring-formats-for-python-d27be81e0d68